.box
{
    width: 70px;
    height: 70px;
    background-color: aquamarine;
    top: 50vh;
    position: relative;
    left: 50%;
}

.c
{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    top: 99px;
    position: relative;
    left: 20%;
}

.aboba
{
    width: 150px;
    height: 50px;
    background-color: rgb(226, 43, 171);
    top: 200px;
    position: relative;
    left: 70%;
}

.lalala
{
    width: 15px;
    height: 200px;
    background-color: rgb(43, 174, 226);
    top: 400px;
    position: relative;
    left: 15%;
}